<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedAppDevs | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/CSS.css">
</head>

<body>
    {% include 'Home/Navbar.html' %}   
    <h3>Post a question</h3>
    <div class="container1" id="PostQuestion">
        <form >
            <div class="form-group">
              <label for="exampleInputEmail1">Question</label>
              <input type="text" class="form-control" name="question" aria-describedby="emailHelp" placeholder="Enter a question">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
    </div>
</body>

</html>